/images/4.jpg
/images/2.jfif
/images/6.jpg
/images/2000354891802-02_N95-2592x1944_scaledTo800x600NN.jpg
/images/Barcode.jpg
/images/Barcode1.jfif
/images/bigImg.png
/images/food-tin-product-supermarket-barcode-on-tin-can-B6X12A.jpg
/images/FreeVector-Barcode-Templates.jpg
/images/heinz-1.jpg
/images/horse.jpg
/images/IMG_1116c.jpg
/images/predictAngle.jpg
/images/UPC-Labels-updated.jpg
/images/4.png
/images/05-rating-beer-bottles-cans3x.jpg
/images/5.png
/yolov3-barcode/yolov3-barcode_3700.weights
/yolov3-barcode/yolov3-barcode_3800.weights
/yolov3-barcode/yolov3-barcode_3900.weights
/yolov3-barcode/yolov3-barcode_final.weights
/yolov3-barcode/yolov3-barcode_last.weights
